/*reference*/

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;800&display=swap');

@font-face {
    font-family: "UnifrakturCook";
    src: url(UnifrakturCook-Bold.ttf);
}

@keyframes wheelHueColor {
    from, to { color: rgb(236,100,75); }
    10%      { color: rgb(219,10,91); }
    20%      { color: rgb(174,168,211); }
    30%      { color: rgb(89,171,227); }
    40%      { color: rgb(37,116,169); }
    50%      { color: rgb(3,201,169); }
    60%      { color: rgb(22,160,133); }
    70%      { color: rgb(233,212,96); }
    80%      { color: rgb(243,156,18); }
    90%      { color: rgb(236,240,241); }
}

@keyframes wheelHueBgColor {
    from, to { background-color: rgb(236, 89, 16);}
    10%      { background-color: rgb(243,156,18);}
    20%      { background-color: rgb(233,212,96); }
    30%      { background-color: rgb(22,160,133); }
    40%      { background-color: rgb(3,201,169); }
    50%      { background-color: rgb(37,116,169);}
    60%      { background-color: rgb(89,171,227);}
    70%      { background-color: rgb(174,168,211); }
    80%      { background-color: rgb(219,10,91); }
    90%      { background-color: rgb(236,100,75); }
}

/*general*/

*,
*::before,
*::after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
}

body {
    font-family: 'Dosis', sans-serif;
    font-weight: 300;
    --body-bg: #fff;
    --body-color: #000;
    background-color: var(--body-bg);
    color: var(--body-color);
}

body.dark {
    --body-bg: rgb(32, 32, 32);
    --body-color: #fff;
}

body.light {
    --body-bg: #fff;
    --body-color: #000;
}

/*typography*/

marquee {
    color: #000;
    font-style: italic;
}

body.dark marquee {
    color: #fff;
}

::selection {
    color: white;
    background:#82514b;
}

h1 {
    color: rgb(236,100,75);
    animation: wheelHueColor 20s infinite;
    font-size: 6rem;
    line-height: 5rem;
}

h2 {
    font-family: 'UnifrakturCook', cursive;
    font-weight: 700;
    font-size: 5rem;
    letter-spacing: .4rem;
    background:linear-gradient(#e66456,#9198e5);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;   
}

h2:hover {
    background:linear-gradient(#9198e5,#e66456);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

section.top p {
    margin-top: 1em;
}

a {
    font-weight: 800;
}

a:hover {
    background:linear-gradient(90deg,#ffbd4a,#ff75b5);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

article section:nth-of-type(1) a {
    font-family: 'UnifrakturCook', cursive;
    font-weight: 700;
    font-size: 4rem;
    background:linear-gradient(45deg,#eb6b5c 20%,#e49b48,#ede028,#b1f348,#53b9d8,#966dbe 70%);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

article a:hover {
    background:linear-gradient(45deg,#966dbe 20%,#53b9d8,#b1f348,#ede028,#e49b48,#eb6b5c 70%);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

/*components*/

header {
    /* background: radial-gradient(#7fad36,#7bafdd); */
    color: #fff;
}

main {
    width: 70vw;
    margin: 0 auto;
}

section.top {
    display: flex;
    width: 80%;
    margin: 0 auto;
    gap: 4em;
}

section h1 {
    margin: 0;
}

section.left {
    display:flex;
}

section.right {
    display: flex;
}

section.articles {
    display: flex;
    flex-wrap: wrap;
    gap: 1em 2em;
    margin-top: 1em;
}

article {
    --article-bg: rgb(245, 241, 235);
    --article-color: #000;
    background-color: var(--article-bg);
    color: var(--article-color);
    padding: 1em;
    border-radius: 1em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1em;
    width: 30%;
}

article section {
    display: flex;
}

body.dark article {
    --article-bg: rgb(26, 25, 25);
    --article-color: bisque;
}

aside {
    width: 16em;
    height: 16em;
    background: linear-gradient(45deg,rgba(255, 255, 255, 0.5),rgba(219, 183, 183, 0.3)),linear-gradient(#e66456,#9198e5);
    border-radius: 50%;
    padding: 5em;
}

footer {
    margin: 10vh;
}

/*buttons*/

button {
    border: 0;
    box-shadow: none;
    height: 3em;
    width: 3em;
    border-radius: 50%;
    font-family: 'Dosis', sans-serif;
    margin: 1em;
}

button#toggle {
    --button-bg: #fafaad;
    background-color: var(--button-bg);
    --button-color: #000;
    color: var(--button-color);
}

body.dark button#toggle {
    --button-bg: #000;
    --button-color: #fff;
}

button.rainbow {
    background-color: rgb(236,100,75);
    animation: wheelHueBgColor 20s infinite;
    width: 16em;
    height: 3.5em;
    border-radius: 40em/50em;
}

button:hover {
    border-radius: 1em;
}

@media (prefers-color-scheme: dark) {
    body {
        --body-bg: rgb(32, 32, 32);
        --body-color: #fff;
    }

    body.light {
        --body-bg: #fff;
        --body-color: #000;
    }

    marquee {
        color: #fff;
    }

    body.light marquee {
        color: #000;
    }

    article {
        --article-bg: rgb(26, 25, 25);
        --article-color: bisque;
    }

    body.light article {
        --article-bg: rgb(245, 241, 235);
        --article-color: #000;
    }

    button#toggle {
        --button-bg: #fafaad;
        --button-color: #000;
    }

    body.light button#toggle {
        --button-bg: #000;
        --button-color: #fff;
    }

}

@media (max-width: 1100px) {
    article {
        width: 46%;
    }
}

@media (max-width: 696px) {
    article {
        width:unset;
    }
}