@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap');

@font-face {
    font-family: "UnifrakturCook";
    src: url(UnifrakturCook-Bold.ttf);
}

body {
    font-family: 'Dosis', sans-serif;
    font-weight: 300;
}

header {
    background: linear-gradient(#e66456,#9198e5);
    color: #fff;
    height: 40vh;
}

section {
    margin-top: -8vh;
}

article {
    position: fixed;
    inset: 20vh 40vw;
    width: 20vw;
    height: 20vw;
    background: linear-gradient(45deg,rgba(255, 255, 255, 0.5),rgba(219, 183, 183, 0.3)),linear-gradient(#e66456,#9198e5);
    border-radius: 5em/50em;
}

::selection {
    color: white;
    background:#82514b;
  }

a {
    font-family: 'UnifrakturCook', cursive;
    font-weight: 700;
    font-size: 6rem;
    background:linear-gradient(#e66456,#9198e5);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

a:hover {
    background:linear-gradient(#9198e5,#e66456);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}