@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap');

@font-face {
    font-family: "UnifrakturCook";
    src: url(UnifrakturCook-Bold.ttf);
}

body {
    font-family: 'Dosis', sans-serif;
    font-weight: 300;
    --body-bg: #fff;
    background-color: var(--body-bg);
}

body.dark {
    --body-bg: rgb(83, 83, 83);
}

header {
    background: radial-gradient(#7fad36,#7bafdd);
    color: #fff;
    height: 40vh;
}

section {
    margin-top: -8vh;
}

article {
    position: fixed;
    inset: 20vh 40vw;
    width: 20vw;
    height: 20vw;
    background: linear-gradient(45deg,rgba(255, 255, 255, 0.5),rgba(219, 183, 183, 0.3)),linear-gradient(#e66456,#9198e5);
    border-radius: 70em/50em;
}

::selection {
    color: white;
    background:#82514b;
  }

h2 {
    font-family: 'UnifrakturCook', cursive;
    font-weight: 700;
    font-size: 6rem;
    background:linear-gradient(#e66456,#9198e5);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;   
}

h2:hover {
    background:linear-gradient(#9198e5,#e66456);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

a {
    font-family: 'UnifrakturCook', cursive;
    font-weight: 700;
    font-size: 6rem;
    background:linear-gradient(45deg,#eb6b5c 20%,#e49b48,#ede028,#b1f348,#53b9d8,#84689f 70%);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

a:hover {
    background:linear-gradient(#797b93,#efb5af);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

button {
    background: #000;
    border: 0;
    box-shadow: none;
    color: #fff;
    height: 5em;
    border-radius: 4em;
}

button:hover {
    border-radius: 1em;
}

footer {
    margin: 10vh;
}

@keyframes wheelHueColor {
    from, to { color: rgb(236,100,75); }
    10%      { color: rgb(219,10,91); }
    20%      { color: rgb(174,168,211); }
    30%      { color: rgb(89,171,227); }
    40%      { color: rgb(37,116,169); }
    50%      { color: rgb(3,201,169); }
    60%      { color: rgb(22,160,133); }
    70%      { color: rgb(233,212,96); }
    80%      { color: rgb(243,156,18); }
    90%      { color: rgb(236,240,241); }
}

h1 {
    color: rgb(236,100,75);
    animation: wheelHueColor 20s infinite;
    text-align: center;
    font-size: 90px;
    transform: translateY(-50%);
}