/* || general */

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
}

:root {
    --desaturated-red: hsl(0, 36%, 70%);
    --soft-red: hsl(0, 93%, 68%);
    --dark-grayish-red: hsl(0, 6%, 24%);
}

body {
    font-family: 'Josefin Sans', sans-serif;
    background: linear-gradient(hsla(0, 100%, 98%, .3) 50%,hsla(0, 36%, 70%, .2),hsla(0, 100%, 98%, .3)), no-repeat url(./images/bg-pattern-desktop.svg);
    background-size: 57vw 100vh;
}

/* || typography */

h1 {
    text-transform: uppercase;
    font-size: 4em;
    font-weight: 300;
    letter-spacing: 15px;
    color: var(--desaturated-red);
}

h1 span {
    font-weight: 600;
    color: var(--dark-grayish-red);
}

p {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.7;
    color: var(--desaturated-red);
    margin: -3vh 2vw 5vh 0px;
}

/* || form */

input {
    border: 1px solid hsla(0, 36%, 70%, .5);
    border-radius: 30px;
    background: transparent;
    color: var(--dark-grayish-red);
    vertical-align: center;
    width: 28vw;
    height: 55px;
    padding: 20px 30px;
}

input:focus {
    outline: none;
    border: 1px solid var(--desaturated-red);
    background-color: hsla(0, 33%, 70%,.1);
}

input::placeholder {
    color: hsla(0, 36%, 70%, .5);
}

input:not(:placeholder-shown):not(:focus):invalid {
    border: 2px solid var(--soft-red);
    background: url(./images/icon-error.svg);
    background-repeat: no-repeat;
    background-position: 78%;
}

span.error {
    content: "Please provide a valid email";
    display:block;
    position: relative;
    top: 80px;
    left: 30px;
    font-size: .8em;
    color: var(--soft-red);
    display: none;
}

button {
    border: 0;
    border-radius: 30px;
    background: linear-gradient(135deg,hsl(0, 80%, 86%),hsl(0, 74%, 74%));
    margin-left: -60px;
    height: 55px;
    line-height: 55px;
    width: 7vw;
}

button:hover {
    background: linear-gradient(135deg,hsla(0, 0%, 100%,.5),hsla(0, 100%, 98%,.5)),linear-gradient(135deg,hsl(0, 80%, 86%),hsl(0, 74%, 74%));
    box-shadow: 2px 10px 10px hsla(0, 36%, 70%,.4);
}

button img {
    vertical-align: sub;
}

/* || flex */

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

header {
    margin: 8vh 11.5vw 9vh;
}

section {
    width: 57vw;
    height: 50vh;
    padding: 0px 11.5vw;
}

aside {
    background: no-repeat url("./images/hero-desktop.jpg");
    background-size: cover;
    flex-basis: 100vh;
    width: 43vw;
}

/* || media queries */

@media (max-width: 1004px) {
    header {
        margin: 7vw;
    }
    
    section {
        padding: 7vw;
    }

    input {
        width: 35vw;
    }

    button {
        width: 10vw;
    }
}

@media (max-width: 777px) {
    body {
        background-size: auto 100vh;
    }

    header {
        margin: 5vw;
        order: 1;
    }
    
    section {
        width: 100vw;
        height: 40vh;
        padding: 2vh 15vw;
        order: 3;
    }

    aside {
        flex-basis: auto;
        order: 2;
        width: 100vw;
        flex-basis: 40vw;
        padding: 140px 0px;
    }

    h1 {
        text-align:center;
        font-size: 3rem;
    }

    p {
        text-align: center;
    }

    input {
        width: 60vw;
        margin-bottom: 100px;
    }

    button {
        width: 15vw;
    }
}

@media (max-width: 375px) {
    body {
        background: linear-gradient(hsla(0, 100%, 98%, .3) 50%,hsla(0, 36%, 70%, .2),hsla(0, 100%, 98%, .3));
    }

    header {
        margin: 5vh 7vw;
    }

    header img {
        width: 100px;
    }    

    aside {
        background: no-repeat url("./images/hero-mobile.jpg");
        background-size: 100%;
        padding: 140px 0px;
    }

    section {
        padding: 0px 30px 30px;
    }

    h1 {
        font-size: 2.5rem;
        letter-spacing: 12px;
    }

    p {
        font-size: 14px;
        line-height: 1.9;
        margin: 0px 0px 25px 0px;
    }

    input {
        width: 75vw;
    }

    button {
        width: 19vw;
    }
}