@mixin headshot($path) {
    background: $path top center / 40px 40px;
    content: "";
    width: 40px;
    height: 40px;
    border-radius: 3rem;
    display: block;
}

@mixin ratings-margin($rm) {
    margin-left: $rm;
}

@mixin articles-margin($am) {
    margin-top: $am;
}