@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

$leaguespartan: 'League Spartan', sans-serif;

$verydarkmagenta: hsl(300, 43%, 22%);
$softpink: hsl(333, 80%, 67%);
$darkgrayishmagenta: hsl(303, 10%, 53%);
$lightgrayishmagenta: hsl(300, 24%, 96%);
$white: hsl(0, 0%, 100%);

$colton: url(../images/image-colton.jpg);
$irene: url(../images/image-irene.jpg);
$anne: url(../images/image-anne.jpg);

$rm2: 4rem;
$rm3: 8rem;

$am2: 1rem;
$am3: 2rem;