@import "variables";
@import "mixins";

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    font-family: $leaguespartan;
    background: url(../images/bg-pattern-top-mobile.svg), url(../images/bg-pattern-bottom-mobile.svg) bottom;
    background-repeat: no-repeat;
    font-size: 15px;
    font-weight: 400;
    padding: 5rem .8rem;
    main {
        header {
            text-align: center;
            h1 {
                font-size: 2.5rem;
                color: $verydarkmagenta;
                line-height: .8;
                letter-spacing: -0.09rem;
                padding: 0rem 2rem;
            }
            p {
                padding: 1rem 0rem;
                color: $verydarkmagenta;
                font-size: 1.2rem;
                line-height: 1.4;
            }
        }
        aside {
            background: $lightgrayishmagenta;
            border-radius: 0.5rem;
            padding: 1rem;
            margin: 1rem;
            section:first-of-type {
                width: 101px;
                height: 20px;
                margin: 0 auto;
                background-image: url(../images/icon-star.svg);
                background-position: top center;
                background-repeat: space no-repeat;
                background-origin: content-box;
            }
            section:nth-of-type(2) {
                h2 {
                    padding-top: 0.6rem;
                    color: $verydarkmagenta;
                    text-align: center;
                    font-size: 1rem;
                }
            }
        }
        article {
            background: $verydarkmagenta;
            color: $white;
            margin: 1rem;
            padding: 2.3rem 2rem 1rem;
            border-radius: 0.5rem;
            &:first-of-type header::before {
                @include headshot($colton);
            }
            &:nth-of-type(2) header::before {
                @include headshot($irene);
            }
            &:last-of-type header::before {
                @include headshot($anne);
            }
            header {
                display:flex;
                align-items: center;
                section {
                    padding-left: 1rem;
                    h2 {
                        font-weight: 500;
                        text-align: left;
                        font-size: 1rem;
                        line-height: 1.4;
                    }
                    h3 {
                        color: $softpink;
                        font-weight: 400;
                        font-size: 1rem;
                        text-align: left;
                    }
                }
            }
            p {
                padding: 1rem 0;
                line-height: 1.4;
            }
        }
    }
}