@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
        box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
}

body {
    background-image: url(./images/bg-desktop.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: hsl(257, 40%, 49%);
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #fff;
    min-height: 100vh;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #fff;
}

button {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: hsl(257, 40%, 49%);
    background-color: #fff;
    border-radius: 30px;
    padding: 15px 60px;
    box-shadow: 5px 5px 2px rgb(0,0,0,.2);
    margin: 20px;
    border: 0;
    display: block;
}

button:hover {
    background-color: hsl(300, 69%, 71%);
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.icons {
    float: right;
    font-size: 25px;
}

i:hover {
    color: hsl(300, 69%, 71%);
}