@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
        box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
}

body {
    background-image: url(./images/bg-desktop.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: hsl(257, 40%, 49%);
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #fff;
    min-height: 100vh;
    margin: 3em 5em;
}

img.logo {
    height: 54px;
    margin-bottom: 80px;
}

img.mockup {
    width: 700px;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 36px;
    line-height: 50px;
    color: #fff;
}

button {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: hsl(257, 40%, 49%);
    background-color: #fff;
    border-radius: 30px;
    padding: 15px 60px;
    box-shadow: 5px 5px 2px rgb(0,0,0,.2);
    margin: 20px 0px;
    border: 0;
    display: block;
}

button:hover {
    background-color: hsl(300, 69%, 71%);
}

.flex {
    display: flex;
    flex-wrap: nowrap;
    gap: 40px;
}

.icons {
    float: right;
}

.icons, .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 17px;
}

.icon {
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid #fff;
    font-size: 1.5rem;
    width: 50px;
    height: 50px;
}

.icon:hover {
    color: hsl(300, 69%, 71%);
    border: 1px solid hsl(300, 69%, 71%);
}

@media (max-width: 1145px) {
    .flex {
        flex-wrap: wrap;
        text-align: center;
    }
    button {
        margin: auto;
    }
    p {
        margin-bottom: 20px;
    }
    .icons {
        margin-top: 80px;
        float: none;
    }
    img.mockup {
        width: 80%;
        margin: auto;
    }
    img.logo {
        width: 9em;
        margin-bottom: 20px;
    }
    h1 {
        font-size: 26px;
        line-height: 30px;
    }
}

@media (max-width: 623px) {
    body {
        background-image: url(./images/bg-mobile.svg);
        background-size: contain;
        margin: 2em;
    }
    .icon {
        width: 33px;
        height: 33px;
        font-size: 1rem;
    }
}