@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --dark-cyan: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);
    --very-dark-blue: hsl(212, 21%, 14%);
    --dark-grayish-blue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);
}

body  {
    font-family: 'Montserrat', sans-serif;
    background: var(--cream);
    min-height: 100vh;
    display: grid;
    place-content: center;
}

main {
    display:flex;
}

main header, main article {
    width: 19.41rem;
}

header {
    border-radius: 10px 0 0 10px;
    background: url(images/image-product-desktop.jpg);
    background-size: cover;
}

article {
    border-radius: 0 10px 10px 0;
    background: var(--white);
    width: 20vw;
    line-height: 2rem;
    padding: 2rem 2.7rem 2rem 2.1rem;    
}

h1, h2 {
    font-family: 'Fraunces', serif;
    font-size: 1.9rem;
    padding-bottom: 1.6rem;
}

h1 {
    padding-right: 1rem;
}

p {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.8;
    color: var(--dark-grayish-blue);
}

p.subtitle {
    text-transform: uppercase;
    font-size: .8rem;
    letter-spacing: .25rem;
    padding-bottom: 1rem;
}

h2 {
    color: var(--dark-cyan);
    padding-top: 2rem;
}

h2 span {
    font-family: 'Montserrat', sans-serif;
    color: var(--dark-grayish-blue);
    text-decoration: line-through;
    font-size: .8rem;
    font-weight: 500;
    vertical-align: top;
    padding: 0 0 0 1rem;
}

button {
    background: var(--dark-cyan) url(/images/icon-cart.svg) left 60px center / 16px no-repeat;
    color: var(--white);
    font-family: inherit;
    font-weight: 600;
    border-radius: 8px;
    padding: 1rem 3.9rem 1rem 5.5rem;
    border: 0;
}

.attribution {
    font-size: 11px;
    position: absolute;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (max-width: 622px) {
    main {
        flex-wrap: wrap;
        display: inline-block;
    }

    header {
        padding: 8rem;
        background: url(/images/image-product-mobile.jpg);
        background-size: cover;
        border-radius: 10px 10px 0px 0px;
    }

    article {
        border-radius: 0px 0px 10px 10px;
        padding: 1.3rem 1.6rem;
    }

    main header, main article {
        width: 21.41rem;
    }

    h1 {
        padding-right: 0;
    }

    h1, h2 {
        padding-bottom: 1rem;
    }

    h2 {
        padding-top: 1.4rem;
    }

    p {
        line-height: 1.6;
    }

    p.subtitle {
        padding-bottom: .5rem;
    }

    button {
        padding: 1rem 5.5rem 1rem 7.5rem;
        background-position: left 92px center;
    }
    
}