/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@media (max-width: 1262px) {
    body {
        padding: 6.5vw;
        main {
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
            header {
                width: 100%;
                border-radius: 0.7rem 0.7rem 0 0;
                background-position: 50%;
            }
            section {
                padding: 2.6rem 1.7rem 1rem 2rem;
                h1 {
                    font-size: 1rem;
                }
                footer {
                    margin-top: 1.5rem;
                    div#share {
                        div#pop {
                            bottom: -21px;
                            right: -27px;
                            border-radius: 0 0 0.6em 0.6em;
                            &::after {
                                border: unset;
                            }
                            div#flexmom {
                                padding: 1.6em 9.5em 1.8em 2.3em;
                            }
                        }
                        div#icon {
                            position: relative;
                        }
                    }
                }
            }
        }
    }
}