@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

$manrope: 'Manrope', sans-serif;

$veryDarkGrayishBlue: hsl(217, 19%, 35%);
$desaturatedDarkBlue: hsl(214, 17%, 51%);
$grayishBlue: hsl(212, 23%, 69%);
$lightGrayishBlue: hsl(210, 46%, 95%);