@import "variables";

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    font-family: $manrope;
    font-size: 13px;
    color: $veryDarkGrayishBlue;
    background: $lightGrayishBlue;
    padding: 0 22rem;
    min-height: 100vh;
    display: grid;
    place-content: center;
    main {
        display: flex;
        background: #fff;
        border-radius: 0.7rem;
        box-shadow: 0.2rem 2rem 2rem hsla(214, 17%, 51%,.1);
        header {
            padding: 8rem 9rem;
            background: url(../images/drawers.jpg);
            background-size: cover;
            border-radius: 0.7rem 0 0 0.7rem;
        }
        section {
            padding: 2rem 2.5rem;
            h1 {
                font-size: 1.2rem;
                margin: 0 1rem 1rem 0;
            }
            p {
                color: $desaturatedDarkBlue;
                line-height: 1.5;
            }
            footer {
                display: flex;
                align-items: center;
                gap: 1rem;
                margin-top: 1rem;
                div#avatar {
                    img {
                        border-radius: 10rem;
                        height: 2.5rem;
                    }
                }
                div#namedate {
                    flex: 3;
                    h2 {
                        font-size: 0.8rem;
                    }
                    p {
                        color: $grayishBlue;
                    }
                }
                div#share {
                    position: relative;
                    div#pop {
                        background: $veryDarkGrayishBlue;
                        color: $grayishBlue;
                        position: absolute;
                        bottom: 60px;
                        right: -105px;
                        text-transform: uppercase;
                        letter-spacing: 0.5em;
                        border-radius: 0.6em;
                        box-shadow: 1em 1em 2em hsla(217, 19%, 35%, 0.3);
                        display: none;
                        &::after {
                            content: " ";
                            position: absolute;
                            right: 107px;
                            bottom: -15px;
                            border-top: 15px solid $veryDarkGrayishBlue;
                            border-right: 15px solid transparent;
                            border-left: 15px solid transparent;
                            border-bottom: none;
                        }
                        div#flexmom {
                            display: flex;
                            align-items: center;
                            gap: 1em;
                            padding: 1.1em 3em;
                        }
                    }
                    div#icon {
                        background: $lightGrayishBlue;
                        padding: 0.5rem;
                        border-radius: 2rem;
                        width: 2.1rem;
                        &:hover {
                            background: $desaturatedDarkBlue;
                            -webkit-transition: background-color 1s ease;
                            cursor: pointer;
                            img {
                                filter: grayscale(1) brightness(3);
                                -webkit-transition: filter 1s ease;
                            }
                        }
                        img {
                            width: 1rem;
                        }
                    }
                }
            }
        }
    }
    .attribution {
        font-size: smaller;
        text-align: center;
    }
}

@import "media";