@import "variables";

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    font-family: $manrope;
    font-size: 13px;
    color: $veryDarkGrayishBlue;
    background: $lightGrayishBlue;
    padding: 0 22rem;
    min-height: 100vh;
    display: grid;
    place-content: center;
    main {
        display: flex;
        background: #fff;
        border-radius: 0.7rem;
        box-shadow: 0.2rem 2rem 2rem hsla(214, 17%, 51%,.1);
        header {
            padding: 8rem 9rem;
            background: url(../images/drawers.jpg);
            background-size: cover;
            border-radius: 0.7rem 0 0 0.7rem;
        }
        section {
            padding: 2rem 2.5rem;
            h1 {
                font-size: 1.2rem;
                margin: 0 1rem 1rem 0;
            }
            p {
                color: $desaturatedDarkBlue;
                line-height: 1.5;
            }
            footer {
                display: flex;
                align-items: center;
                gap: 1rem;
                margin-top: 1rem;
                div#avatar {
                    img {
                        border-radius: 10rem;
                        height: 2.5rem;
                    }
                }
                div#namedate {
                    flex: 3;
                    h2 {
                        font-size: 0.8rem;
                    }
                    p {
                        color: $grayishBlue;
                    }
                }
                div#share {
                    div#icon {
                        background: $lightGrayishBlue;
                        padding: 0.5rem;
                        border-radius: 2rem;
                        width: 2.1rem;
                        img {
                            width: 1rem;
                        }
                    }
                }
            }
        }
    }
}

@import "media";