@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Manrope", sans-serif;
  font-size: 13px;
  color: hsl(217deg, 19%, 35%);
  background: hsl(210deg, 46%, 95%);
  padding: 0 22rem;
  min-height: 100vh;
  display: grid;
  place-content: center;
}
body main {
  display: flex;
  background: #fff;
  border-radius: 0.7rem;
  box-shadow: 0.2rem 2rem 2rem hsla(214deg, 17%, 51%, 0.1);
}
body main header {
  padding: 8rem 9rem;
  background: url(../images/drawers.jpg);
  background-size: cover;
  border-radius: 0.7rem 0 0 0.7rem;
}
body main section {
  padding: 2rem 2.5rem;
}
body main section h1 {
  font-size: 1.2rem;
  margin: 0 1rem 1rem 0;
}
body main section p {
  color: hsl(214deg, 17%, 51%);
  line-height: 1.5;
}
body main section footer {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}
body main section footer div#avatar img {
  border-radius: 10rem;
  height: 2.5rem;
}
body main section footer div#namedate {
  flex: 3;
}
body main section footer div#namedate h2 {
  font-size: 0.8rem;
}
body main section footer div#namedate p {
  color: hsl(212deg, 23%, 69%);
}
body main section footer div#share {
  position: relative;
}
body main section footer div#share div#pop {
  background: hsl(217deg, 19%, 35%);
  color: hsl(212deg, 23%, 69%);
  position: absolute;
  bottom: 60px;
  right: -105px;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  border-radius: 0.6em;
  box-shadow: 1em 1em 2em hsla(217deg, 19%, 35%, 0.3);
  display: block;
}
body main section footer div#share div#pop::after {
  content: " ";
  position: absolute;
  right: 107px;
  bottom: -15px;
  border-top: 15px solid hsl(217deg, 19%, 35%);
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
  border-bottom: none;
}
body main section footer div#share div#pop div#flexmom {
  display: flex;
  align-items: center;
  gap: 1em;
  padding: 1.1em 3em;
}
body main section footer div#share div#icon {
  background: hsl(210deg, 46%, 95%);
  padding: 0.5rem;
  border-radius: 2rem;
  width: 2.1rem;
}
body main section footer div#share div#icon:hover {
  background: hsl(214deg, 17%, 51%);
  transition: background-color 1s ease;
  cursor: pointer;
}
body main section footer div#share div#icon:hover img {
  filter: grayscale(1) brightness(3);
  transition: filter 1s ease;
}
body main section footer div#share div#icon img {
  width: 1rem;
}
body .attribution {
  font-size: smaller;
  text-align: center;
}

@media (max-width: 500px) {
  body {
    padding: 1.5rem;
  }
  body main {
    flex-wrap: wrap;
  }
  body main header {
    padding: 6.5rem 10.2rem;
    border-radius: 0.7rem 0.7rem 0 0;
  }
  body main section {
    padding: 2.6rem 1.7rem 1rem 2rem;
  }
  body main section h1 {
    font-size: 1rem;
  }
  body main section footer {
    margin-top: 1.5rem;
  }
  body main section footer div#share div#pop {
    bottom: -21px;
    right: -27px;
    border-radius: 0 0 0.6em 0.6em;
  }
  body main section footer div#share div#pop::after {
    border: unset;
  }
  body main section footer div#share div#pop div#flexmom {
    padding: 1.6em 8.9em 1.8em 2.9em;
  }
  body main section footer div#share div#icon {
    position: relative;
    z-index: 4;
  }
}/*# sourceMappingURL=style.css.map */