/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 500;
    font-size: 13px;
    line-height: 1.3;
    background: hsl(210, 46%, 95%);
}

main {
    display: -ms-grid;
    display: grid;
    width: 88vw;
    margin: 13vh auto;
    gap: 20px 30px;
}

figure {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: -1px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

figure img {
    border-radius: 30px;
    margin: 0px 15px 0px 0px;
    border-width: 2px;
    border-style: solid;
    width: 32px;
    height: auto;
}

figcaption footer {
    font-size: 11px;
}

figcaption footer {
    opacity: 50%;
}

article {
    border-radius: 8px;
    padding: 27px 40px;
    -webkit-box-shadow: 45px 70px 20px -30px hsla(219, 10%, 73%, .2);
            box-shadow: 45px 70px 20px -30px hsla(219, 10%, 73%, .2);
}

article:nth-child(6n+1) {
    background: hsl(263, 55%, 52%) url(./images/bg-pattern-quotation.svg) no-repeat;
    background-position: top right 25px;
    color: hsl(0, 0%, 100%);
}

article:nth-child(6n+1) img {
    border-color: hsla(0, 0%, 100%, .3);
}

article:nth-child(6n+2) {
    background-color: hsl(217, 19%, 35%);
    color: hsl(210, 46%, 95%);
}

article:nth-child(6n+2) img {
    border-color: hsla(0, 0%, 100%, .2);
}

article:nth-child(6n+4) {
    background-color: hsl(219, 29%, 14%);
    color: hsl(210, 46%, 95%);
}

article:nth-child(6n+4) img {
    border-color: hsla(263, 55%, 52%, .5);
}

article:nth-child(2n+3) {
    background-color: hsl(0, 0%, 100%);
    color: hsl(217, 19%, 35%);;
}

article:nth-child(2n+3) img {
    border-color: hsla(0, 0%, 100%, .5);
}

mark {
    background-color: transparent;
    font-weight: 600;
    font-size: 19px;
    letter-spacing: .5px;
    display: block;
    color: inherit;
    margin-top: 16px;
    margin-bottom: 17px;
}

p {
    opacity: 70%;
    line-height: 1.5;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@media (min-width:838px) {
    main {
        -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: auto;
    }

    article:nth-child(6n+1) {
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
        grid-column: 1 / 3;
    }

    article:nth-child(6n+5) {
        -ms-grid-column: 4;
        grid-column: 4;
        -ms-grid-row: 1;
        -ms-grid-row-span: 2;
        grid-row: 1 / 3;
    }

    article:nth-child(6n+4) {
        -ms-grid-column: 2;
        -ms-grid-column-span: 2;
        grid-column: 2 / 4;
    }
}

@media (min-width:1348px) {
    main {
        width: 77vw;
        margin: 24vh auto;
        gap: 20px 30px;
    }

    article {
        padding: 25px 27px 25px 32px;
    }    

    article:nth-child(6n+1) {
        background-position: top right 80px;
 
    }

    p {
        line-height: 1.4;
    }
}